{% extends "layout.html" %}
{% block main %}
<article>
  <header>
    <img src="{{ url_for('static', filename='images/flasks.jpg') }}" alt="GoCard">
  </header>
  <main>
    <h2>GoCard PWA</h2>
    <span>A progressive webapp template</span>
    <p>Flask PWA is supposed to be a goto template when
      I start a new Flask project. It is constructed on
      a Model-Template-Controller perspective, which I
      find clear enough for my current projects.</p>

    <div id="gocards-2c">
      <p>
        <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="WhatsApp">
        <br>
        WhatsApp
      </p>
      <p>
        <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="WhatsApp">
        <br>
        WhatsApp
      </p>
    </div>

    <div id="gocards-2c">
      <p>
        <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="WhatsApp">
        <br>
        WhatsApp
      </p>
      <p>
        <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="WhatsApp">
        <br>
        WhatsApp
      </p>
    </div>

    <div id="gocards-3c">
      <p>
        <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="WhatsApp">
        <br>
        WhatsApp
      </p>
      <p>
        <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="WhatsApp">
        <br>
        WhatsApp
      </p>
      <p>
        <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="WhatsApp">
        <br>
        WhatsApp
      </p>
    </div>



  </main>
  <footer>
    <button id="btnAdd">Install App</button>
  </footer>
</article>
{% endblock %}
