{% extends "layout.html" %}
{% block titlehead %}{% endblock %}
{% block main %}
<article>
  <header>
    <img src="{{ url_for('static', filename='images/telasbanner-80.jpg') }}" alt="GoCard Banner">
  </header>
  <main>
    <h3>Fale Conosco</h3>
    <div id="gocards-3c">
      <p>
        <a href="#">
        <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="WhatsApp">
        <br>
        WhatsApp
        </a>
      </p>
      <p>
        <a href="#">
        <img src="{{ url_for('static', filename='images/messenger.png') }}" alt="Facebook">
        <br>
        Facebook
        </a>
      </p>
      <p>
        <a href="#">
        <img src="{{ url_for('static', filename='images/mail.png') }}" alt="Email">
        <br>
        Email
        </a>
      </p>
    </div>

    <div id="gocards-2c">
      <p>
        <a href="#">
        <img src="{{ url_for('static', filename='images/phone.png') }}" alt="Telefone">
        <br>
        Ligar
        </a>
      </p>
      <p>
        <a href="#">
        <img src="{{ url_for('static', filename='images/location.png') }}" alt="Endereço">
        <br>
        Endereço
        </a>
      </p>
    </div>

    <h3>Em nosso site</h3>
    <div id="gocards-2c">
      <p>
        <a href="#">
        <img src="{{ url_for('static', filename='images/produtos.png') }}" alt="Produtos">
        <br>
        Produtos
        </a>
      </p>
      <p>
        <a href="#">
        <img src="{{ url_for('static', filename='images/orcamento.png') }}" alt="Orçamento">
        <br>
        Orçamento
        </a>
      </p>
    </div>

  </main>
  <footer>
    <button id="btnAdd">Instalar App</button>
  </footer>
</article>
{% endblock %}
