/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#btnAdd {
  background-color: var(--dark-primary-color);
  border: 1px solid var(--dark-primary-color);
  color: var(--text-color);
  display: inline-block;
  visibility: hidden;
  text-decoration: none;
  font-weight: 600;
  padding: .5rem 1rem;
  margin: 0 auto;
}